/* this file contains the backgrounds of the templates */

/* Index Background */

.index{
    background-image: url(https://www.fondoswiki.com/Uploads/fondoswiki.com/ImagenesGrandes/kratos-espadas-fuego.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    }

/* Home Background */

.home{
    background-image: url(https://images8.alphacoders.com/393/393649.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    }

/* Table Background */
.tableBackground{
    background-color: #000000;
    opacity: 0.8;
    color: #ffffff;
}

/* login Background */
.loginBackground{
    background-color: whitesmoke;
    opacity: 0.8;
}